/node_modules
/public/hot
/public/storage
/public/js/compile
/public/css/compile
/storage/*.key
/vendor
/.idea/
/resources/js/includes/ziggy.js
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
